body {
    display: flex;
    flex-direction: column;
    font: 18px sans-serif;
    color:#E5E7EB;
    font-weight: 800;  
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;  
    
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    color: grey;
}

li {
    display: inline;
}

.doge{
    height: 300px;
    width: 500px;
    padding: 50px;
}

.hero {
    display: flex;
    background-color: #1F2937;    
font-size: 18px;
justify-content: space-evenly;
}

.awesome {
    font-size: 48px;
    color: white;
}

.hero-container {
    display: flex;
align-items: center;    
color: grey;
    max-width: 650px;
    padding-left: 180px;
   
}

button{
    color: white;
    background-color: #3882F6;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    font-size: 18px;
    align-self: left;
    border-radius: 15px;
}
.random {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #1F2937;
    font-size: 36px;
    padding-bottom: 30px;

}
.central-images {
    background-color: white;
    flex: 1;
    color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.dogepics {
width: 150px;
height: 150px;
border: 5px solid #3882F6;
border-radius: 15px;

flex: 0;
border-style:
}

.doge-descriptions {
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: white;
    color: grey;
}

.description-text {
    height: 150px;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font: 36px light italic;
    height: 400px;
}

.quote-source {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
    padding-right: 50px;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    gap: 50px;
    margin: 100px;
    font-size: 36px;
}

.product {
    font-size: 24px;
}

.sign-up {
    padding: 20px 80px 20px 80px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    height: 100px;
    justify-content: center;
    align-items: center;

}